RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ main.php?$1 [L,QSA]
# [QSA] - query string append
#RewriteRule ^(.+)$ get_puzzle.php?uri=$1 [QSA=L]
#RewriteRule ^(.+)$ getJson.php?uri=$1 [QSA=L]